<nav class="navbar-expand-lg navbar navbar-dark bg-primary">

    <a class="navbar-brand" href="/">
        <i class="fas fa-blog"></i>
    </a>

    <span class="nav-link nav-item"  > | </span>

    <ul class="navbar-nav mr-auto">
        
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">categorias</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/articles">artigos</a>
            </li>
    </ul>
            <div class="row">
                <div class="col col-12">
                    <a class="navbar-brand" href="/">
                        <i style="float: right;"  class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
    
</nav>